*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Arial", sans-serif;
  background: #91a67c;
  color: #F2f0c9;
  font-size: 14px;
}

#container{
  width: 700px;
  margin: 40px auto;
  overflow: auto;
  border: #acd9a9 3px solid;

}

header{
  background: #8c6745;
  padding: 10px;
  text-align: center;
}

#shouts{
  height: 200px;
  border: #acd9a9 1px solid;
  margin: 30px;
  padding: 15px;

}

#shouts li{
  list-style: none;
  line-height: 1.7em;
}
footer{
  padding: 10px;
  background: #8c6745;
  text-align: center;
}
input#name, input#shout{
  padding: 3px;
  height: 15px;
  background-color: f2f0c9;
}
input#name{
  width: 130px;
  margin-right: 20pxl

}
input#shout{
  width: 270px;
}
input#submit{
  padding: 5px 10px;
  border: 0;
  background: #acd9a9;
  color: #fff;
  cursor: pointer;
}
